/* App-wide styling */
body {
    background-color: #696969;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;
    margin: 5px;
}

/* Taken from https://www.w3schools.com/howto/howto_css_split_screen.asp */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* If you want the content centered horizontally and vertically */
.centered_horizontally {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
